# Bytecode
__pycache__/
*.py[cod]

# Environments
venv/
.env/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# VSCode
.vscode/

# PyInstaller / Build
dist/
build/
*.spec

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage
htmlcov/
.coverage
